$bgColor: #fbe1bc;
$bgColorLight: #fce9cf;
$bgColorLighter: #fef4e7;
$bgAction: #b5c177;
$primaryDark: #583709;
$linkColor: #2b4227;

$font-decorative: "Underdog", cursive;
$font-regular: "Nunito", Arial, Helvetica, sans-serif;
