$bgColor: #fbe1bc;
$bgColorLight: #fce9cf;
$bgColorLighter: #fef4e7;
$bgAction: #b5c177;
$primaryDark: #583709;
$linkColor: #2b4227;

$font-decorative: 'Underdog', cursive;
$font-regular: 'Nunito', Arial, Helvetica, sans-serif;

$dangerColor: #f44336; // katastrofa, migracja fail
$warningColor: #ff9800;
$successColor: #4caf50; // progress, ekspancja
$infoColor: #2196f3; // migracja sukces

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
