<app-dialog [open]="open">
  <div class="dialog-title">Nowe zasoby</div>
  <div class="dialog-info">{{ 'Dostępne ponowne losowania: ' + rollAgain }}</div>
  <div class="cards">
    <div class="card" *ngFor=" let card of newCards; let i = index">
      <div class="card__type">{{ card.type }}</div>
      <div class="card__label">{{ card.label }}</div>
      <div class="card__button">
        <app-menu-button
          [innerText]="'Zmień'"
          [disabled]="!card.rollAgain"
          minWidth="'80px'"
          (click)="card.rollAgain && rollAgain > 0 && getNextCard(i)"
          ></app-menu-button>
      </div>
    </div>
  </div>
  <div class="action-button-container">
    <app-menu-button
    (click)="setNewResources()"
    [innerText]="'Zatwierdź'">
  </app-menu-button>
  </div>
</app-dialog>
