@import "../../../sass/variables";

.cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  width: 120px;
  margin: 10px;
  background-color: $bgColorLighter;
  border: 1px solid $primaryDark;
  border-radius: 4px;
  text-align: center;

  &__type {
    font-family: "Underdog", cursive;
    line-height: 100px;
    font-size: 80px;
  }
  &__label {
    background-color: $bgColorLight;
    line-height: 40px;
    font-size: 18px;
  }
  &__button {
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
