@import "../../../sass/variables";

.logs {
  padding: 20px;
  background-color: $bgColorLight;

  &__container {
    overflow-y: scroll;
    height: 200px;
  }
}
.log {
  box-sizing: border-box;
  min-height: 20px;
  line-height: 19px;
  font-size: 18px;
  border-bottom: 1px solid $bgColorLight;
  background-color: $bgColorLighter;
}
